import './fonts.css';

.App {
  font-family: sans-serif;
  text-align: center;
}


.navBar{

  width: 1440;
  height: 162;
  
  




}



.text {
  font-family: 'Magistral', sans-serif;
  font-weight: 700;
}